@model  List<MVC_prenotazioni.Models.booking>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <input type="email" name="Insert e-mail" id="mail"/><label for="mail">Insert email</label>
            if (@Model != null)
            {
                foreach (var x in @Model)
                {
                    <input type="radio" id="room"+ @x.date name="room" value="@Model" />
                    <label for="room @Model">Room @Model - Description: @Model</label>
                }

            }
            <input type="date" id="day" />
            <label for="day">Giorno</label>
            <input type="time" id="startime" name="Start" min="09:00" max="17:30" step="1800" />
            <label for="starttime">Start time</label>
            <input type="time" id="endtime" min="09:30" max="18:00" step="1800" />
            <label for="starttime">End Time</label>
            <input type="checkbox" id="equipment" />
            <label for="equipment">Hai l'equipaggiamento?</label>
            <input type="submit" />

        }

    </div>
    <div class="col-md-4">
    </div>
</div>